[clientwaldb_master]
user=pipeline
password=PipeLine001
database=WalDB
host=10.73.50.37

[clientseqdb]
user=pipeline_user
password=G3t@pa53
database=sequenceDB
host=seqprod.igm.cumc.columbia.edu

[clientdragen]
user=bc2675
password=Br3ttC0p3LanD
database=WalDB
host=10.73.52.35

[clientwaldb4]
user=bc2675
password=Br3ttC0p3LanD
database=WalDB
host=10.73.50.34

[clientwaldb2]
user=bc2675
password=Br3ttC0p3LanD
database=WalDB
host=10.73.50.32

[clientwaldb1]
user=bc2675
password=Br3ttC0p3LanD
database=WalDB
host=10.73.50.31

[clientwaldb6]
user=bc2675
password=Br3ttC0p3LanD
database=WalDB
host=10.73.50.37

[clienthomo_sapiens_variation_87_37]
user=bc2675
password=Br3ttC0p3LanD
database=homo_sapiens_variation_87_37
host=10.73.52.35

[clientdb1]
user=bc2675
password=Br3ttC0p3LanD
database=CHGV_Annotation_DB_slave
host=10.73.50.31
