[clientseqdb]
user=ped_user
password=3@a45Thb
database=sequenceDB
host=seqprod.igm.cumc.columbia.edu

[clientdragen]
user=bc2675
password=cc
database=WalDB
host=10.73.52.35

[clientwaldb4]
user=bc2675
password=cc
database=WalDB
host=10.73.50.34

[clientwaldb2]
user=bc2675
password=cc
database=WalDB
host=10.73.50.32

[clientwaldb1]
user=bc2675
password=cc
database=WalDB
host=10.73.50.31

[clientwaldb6]
user=bc2675
password=cc
database=WalDB
host=10.73.50.37

[clienthomo_sapiens_variation_87_37]
user=bc2675
password=cc
database=homo_sapiens_variation_87_37
host=10.73.52.35

[clientdb1]
user=bc2675
password=cc
database=CHGV_Annotation_DB_slave
host=10.73.50.31
